@font-face {
    font-family: mulish;
    src: url('./assets/Mulish-VariableFont_wght.ttf');
}

body {
    background: #1a1a1a;
    color: white;
    font-family: mulish, serif;
}

.link {
    color: white;
    font-size: 20px;
    font-weight: bolder;
    text-decoration: none;
}
.link:hover {
    opacity: 0.8;
}

.row-item {
    flex: 1 1 0;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
